<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MoviesMapper">
    
    <resultMap type="Movies" id="MoviesResult">
        <result property="movieId"    column="movie_id"    />
        <result property="title"    column="title"    />
        <result property="director"    column="director"    />
        <result property="actors"    column="actors"    />
        <result property="genre"    column="genre"    />
        <result property="duration"    column="duration"    />
        <result property="releaseDate"    column="release_date"    />
        <result property="description"    column="description"    />
        <result property="rating"    column="rating"    />
    </resultMap>

    <sql id="selectMoviesVo">
        select movie_id, title, director, actors, genre, duration, release_date, description, rating from movies
    </sql>

    <select id="selectMoviesList" parameterType="Movies" resultMap="MoviesResult">
        <include refid="selectMoviesVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="director != null  and director != ''"> and director = #{director}</if>
            <if test="actors != null  and actors != ''"> and actors = #{actors}</if>
            <if test="genre != null  and genre != ''"> and genre = #{genre}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="releaseDate != null "> and release_date = #{releaseDate}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="rating != null "> and rating = #{rating}</if>
        </where>
    </select>
    
    <select id="selectMoviesByMovieId" parameterType="Long" resultMap="MoviesResult">
        <include refid="selectMoviesVo"/>
        where movie_id = #{movieId}
    </select>

    <insert id="insertMovies" parameterType="Movies" useGeneratedKeys="true" keyProperty="movieId">
        insert into movies
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="director != null">director,</if>
            <if test="actors != null">actors,</if>
            <if test="genre != null">genre,</if>
            <if test="duration != null">duration,</if>
            <if test="releaseDate != null">release_date,</if>
            <if test="description != null">description,</if>
            <if test="rating != null">rating,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="director != null">#{director},</if>
            <if test="actors != null">#{actors},</if>
            <if test="genre != null">#{genre},</if>
            <if test="duration != null">#{duration},</if>
            <if test="releaseDate != null">#{releaseDate},</if>
            <if test="description != null">#{description},</if>
            <if test="rating != null">#{rating},</if>
         </trim>
    </insert>

    <update id="updateMovies" parameterType="Movies">
        update movies
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="director != null">director = #{director},</if>
            <if test="actors != null">actors = #{actors},</if>
            <if test="genre != null">genre = #{genre},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="releaseDate != null">release_date = #{releaseDate},</if>
            <if test="description != null">description = #{description},</if>
            <if test="rating != null">rating = #{rating},</if>
        </trim>
        where movie_id = #{movieId}
    </update>

    <delete id="deleteMoviesByMovieId" parameterType="Long">
        delete from movies where movie_id = #{movieId}
    </delete>

    <delete id="deleteMoviesByMovieIds" parameterType="String">
        delete from movies where movie_id in 
        <foreach item="movieId" collection="array" open="(" separator="," close=")">
            #{movieId}
        </foreach>
    </delete>
</mapper>